<a href="@Url.Action( "GioHang","GioHang")">
    <div class="cart my-2 my-lg-0">
        <span>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </span>
        <span class="quntity">@ViewBag.TongSoLuong</span>
    </div>
</a>