 
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>Success</h2>
@if (Session["TaiKhoan"] != null)
{
     <h6>Tài khoản đã đặt hàng thành công</h6>
}
else
{
    <h6>Quý khách đã đặt hàng thành công</h6>
}
