@using Web_BanHang.Models;
@model List<GioHang> 
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
 

<div class="container  " style="margin-bottom:30px">
    <h2>Thanh Toán </h2>
    <table>
        <tr>
            <form action="/" method="post">
                <input type="radio" name="name" value="1" />Thanh toán bằng tiền mặt<br />
                <input type="radio" name="name" value="2" />Thanh toán bằng thẻ nội địa <br />
                <input type="radio" name="name" value="3" />Thanh toán bằng thẻ Visa,JSC,Master <br />
            </form>
            <td></td>
        </tr>
        <tr>
            <a href="@Url.Action("Success","GioHang")">
                <button class="btn btn-danger">
                    Đặt mua
                </button>
            </a>

        </tr>
    </table>
</div>
