@using Web_BanHang.Models;
@using Web_BanHang.DTO;
@using Newtonsoft.Json;
@model Web_BanHang.Models.DonHang
@{
    /**/

    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

    var dataBook = ViewBag.TenSach as List<SachDTO>;
    var dataJS = Html.Raw(JsonConvert.SerializeObject(dataBook));
}

<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="~/Content/CKEditor/ckeditor.js"></script>
<script src="~/Content/AdmimTemplate/js/jquery.steps.js"></script>
<script src="~/assets/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/Jquery Ui/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/Content/Jquery Ui/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Content/Jquery Ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/AdmimTemplate/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/CKEditor/samples/css/samples.css" rel="stylesheet" />
<link href="~/Content/AdmimTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="~/assets/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/assets/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<link href="~/Content/AdmimTemplate/css/main.css" rel="stylesheet" />
<link href="~/Content/AdmimTemplate/css/normalize.css" rel="stylesheet" />
@*<link href="~/Content/AdmimTemplate/css/jquery.steps.css" rel="stylesheet" />*@
<link href="~/Content/jquery2.css" rel="stylesheet" />
 
<h2>Thêm mới đơn hàng</h2>


@using (Html.BeginForm("ThemMoi", "QuanLyDonHang", FormMethod.Post, new { id = "example-advanced-form" }))
{
    <div id="wizard">
        <h2>First Step</h2>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem, hendrerit a tempor quis,
                sagittis accumsan tellus. In hac habitasse platea dictumst. Donec a semper dui. Nunc eget quam libero. Nam at felis metus.
                Nam tellus dolor, tristique ac tempus nec, iaculis quis nisi.
            </p>
        </section>

        <h2>Second Step</h2>
        <section>
            <p>
                Donec mi sapien, hendrerit nec egestas a, rutrum vitae dolor. Nullam venenatis diam ac ligula elementum pellentesque.
                In lobortis sollicitudin felis non eleifend. Morbi tristique tellus est, sed tempor elit. Morbi varius, nulla quis condimentum
                dictum, nisi elit condimentum magna, nec venenatis urna quam in nisi. Integer hendrerit sapien a diam adipiscing consectetur.
                In euismod augue ullamcorper leo dignissim quis elementum arcu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum leo velit, blandit ac tempor nec, ultrices id diam. Donec metus lacus, rhoncus sagittis iaculis nec, malesuada a diam.
                Donec non pulvinar urna. Aliquam id velit lacus.
            </p>
        </section>

        <h2>Third Step</h2>
        <section>
            <p>
                Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo,
                pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat.
                Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris
                venenatis.
            </p>
        </section>

        <h2>Forth Step</h2>
        <section>
            <p>
                Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor.
                Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae.
                Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.
            </p>
        </section>
    </div>


}




<script type="text/javascript">


    //Todo stepper jquery

    $(function () {
        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical"
        });
    });
    // ToDo Datepicker
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',

        //startDate: '-3d'
    });
    $(function () {
        $('#id-pay').change(function () {
            $('#alert').html('Toggle: ' + $(this).prop('checked'))
        })
        $('#id-pay').submit();
    });

    // autocomplete
    $("#txtSach1").autocomplete({
        source:
            function (request, response) {
                $.ajax({
                    url: '/QuanLyDonHang/GetBookValue?search=' + $("#txtSach1").val(),
                    dataType: "json",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { lable: item.TenSach, value: item.TenSach };
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("error");
                    }
                })
            }
    }
    );

    $(document).ready(function () {
        $("input[name='MaNXB']").blur(function () {
            alert("Sự kiện blur() vừa mới xảy ra");
        })
    })

    $("input[name='TenSanpham']").on("blur", function () {
        const valueTenSP = $(this).val();
        if (!!valueTenSP) {
            //TODO: call ajax to get txtDonGia from server
            $.ajax({
                url: '/QuanLyDonHang/GetPrice?search=' + valueTenSP,
                method: "GET", // mac dinh la get
                success: function (rs) {
                    $("#txtDonGia").val(rs);
                },
                error: function (err) {
                    console.log(err);
                }
            })
            //console.log("oke sanpham")
        }
    })
    $("input[name='TenSanpham']").on("blur", function () {
        const valueMaNXB = $(this).val();
        if (!!valueMaNXB) {
            //Call ajax get ma tac gia from server
            $.ajax({
                url: '/QuanLyDonHang/GetPublishersId?search=' + valueMaNXB,
                method: 'GET',
                success: function (author) {
                    $("#txtMXB").val(author);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    })
    $("input[name='TenSanpham']").on("blur", function () {
        const valueMS = $(this).val();
        if (!!valueMS) {
            //call ajax get ma sach from server
            $.ajax({
                url: '/QuanLyDonHang/GetBookId?search=' + valueMS,
                method: 'GET',
                success: function (ms) {
                    $("#txtMaSach").val(ms);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    })

    function checkGiaoHang() {
        var selValue = document.getElementById('id-check-delivery').value;
        selValue.val();
    }
    // tinh tong tien
    $("input[name=txtSoLuong]").on("blur", calculateTotal);
    $("input[name=txtDonGia]").on("blur", calculateTotal);
    function calculateTotal() {
        var donGia = +$("input[name=txtDonGia]").val();
        var soLuong = +$("input[name=txtSoLuong]").val();
        if (soLuong == 0) {
            soLuong == 1;
            var tong = donGia * 1;
        }
        else {
            var tong = donGia * soLuong;
        }
        $("input[name=txtThanhTien]").val(tong);
    }
    //them san pham vao gio hang va tinh tong tien
    // ?? day la cai me gi :D :D ????
    var tongSP = 0;
    var Arrays = new Array();
    $(document).ready(function () {
        $("#addProduct").click(function () {
            // lay gia tri san pham
            var product = $("#txtSach1").val();
            var number = $("#txtSoLuong").val();
            var productPrice = $("#txtDonGia").val();
            var intoMoney = $("#txtThanhTien").val();
            var bookId = $("#txtMaSach").val();
            $("#tableOrder").append("<tr><th >" + bookId + "</th><th>" + product + "</th><th><input class='form-control' type='text' value" + number + "></th><th>" + productPrice + "</th><th class=product>" + intoMoney + "<th><button type='button'  class='btn btn-dark'><i " + " class= 'far fa-trash-alt'></i></th></tr>");
            totalPrice();
        })
        //$("#deleteRow").click(function () {
        //    $("table tbody").find('input[name="record"]').each(function () {
        //        if ($(this).is(":checked")) {
        //            $(this).parents("tr").remove();
        //        }
        //    })
        //})
    });
    $(document).ready(function () {
        $(" .btn-danger ").on('click', function () {
            $('#tableOrder tbody tr:gt(0) ').remove();
        })
    });
    $(document).ready(function () {
        $("#tableOrder").on('click', '.btn-dark', function () {
            $(this).closest('tr').remove();
        })
    });
    var tong1 = 0;
    function totalPrice() {
        var deduct = $("#producctId").val();
        var number = $("#txtSoLuong").val();
        var productPrice = $("#txtDonGia").val();

        tong1 += number * productPrice;
        $("input[name=totalPrice]").val(tong1);
    }
    function include(arr, obj) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == obj)
                return i;
        }
    }
    //$("input=[name=totalPrice]").on('change', uploadToTal);
    //function()uploadToTal {
    //    if -> tr maast
    //        - thi gia tri tong se duoc tru di cai gia tri vau chon:))))
    //    ?????
    //}
    //var array = [];
    //var tong = 0;
    //$(function () {
    //    $("#tableOrder tbody tr th:nth-child(6) ").each(function ( ) {

    //        }
    //       // include(array);

    //    })
    //    console.log(array);
    //})

    //function include(arr) {
    //    for (var i = 0; i < arr.length; i++) {
    //        tong += arr[i];

    //    }
    //}

    //  }


    // format date

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',

        //startDate: '-3d'
    });
    $(function () {
        $('#id-pay').change(function () {
            $('#alert').html('Toggle: ' + $(this).prop('checked'))
        })
        $('#id-pay').submit();
    });

    $("#txtSach1").autocomplete({
        source:
            function (request, response) {
                $.ajax({
                    url: '/QuanLyDonHang/GetBookValue?search=' + $("#txtSach1").val(),
                    dataType: "json",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { lable: item.TenSach, value: item.TenSach };
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("error");
                    }
                })
            }
    }
    );
    $(document).ready(function () {
        $("input[name='MaNXB']").blur(function () {
            alert("Sự kiện blur() vừa mới xảy ra");
        })
    })

    $("input[name='TenSanpham']").on("blur", function () {
        const valueTenSP = $(this).val();
        if (!!valueTenSP) {
            //TODO: call ajax to get txtDonGia from server
            $.ajax({
                url: '/QuanLyDonHang/GetPrice?search=' + valueTenSP,
                method: "GET", // mac dinh la get
                success: function (rs) {
                    $("#txtDonGia").val(rs);
                },
                error: function (err) {
                    console.log(err);
                }
            })
            //console.log("oke sanpham")
        }
    })
    $("input[name='TenSanpham']").on("blur", function () {
        const valueMaNXB = $(this).val();
        if (!!valueMaNXB) {
            //Call ajax get ma tac gia from server
            $.ajax({
                url: '/QuanLyDonHang/GetPublishersId?search=' + valueMaNXB,
                method: 'GET',
                success: function (author) {
                    $("#txtMXB").val(author);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    })
    $("input[name='TenSanpham']").on("blur", function () {
        const valueMS = $(this).val();
        if (!!valueMS) {
            //call ajax get ma sach from server
            $.ajax({
                url: '/QuanLyDonHang/GetBookId?search=' + valueMS,
                method: 'GET',
                success: function (ms) {
                    $("#txtMaSach").val(ms);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    })

    function checkGiaoHang() {
        var selValue = document.getElementById('id-check-delivery').value;
        selValue.val();
    }
    // tinh tong tien
    $("input[name=txtSoLuong]").on("blur", calculateTotal);
    $("input[name=txtDonGia]").on("blur", calculateTotal);
    function calculateTotal() {
        var donGia = +$("input[name=txtDonGia]").val();
        var soLuong = +$("input[name=txtSoLuong]").val();
        if (soLuong == 0) {
            soLuong == 1;
            var tong = donGia * 1;
        }
        else {
            var tong = donGia * soLuong;
        }
        $("input[name=txtThanhTien]").val(tong);
    }
    //them san pham vao gio hang va tinh tong tien
    // ?? day la cai me gi :D :D ????
    var tongSP = 0;
    var Arrays = new Array();
    $(document).ready(function () {
        $("#addProduct").click(function () {
            // lay gia tri san pham
            var product = $("#txtSach1").val();
            var number = $("#txtSoLuong").val();
            var productPrice = $("#txtDonGia").val();
            var intoMoney = $("#txtThanhTien").val();
            var bookId = $("#txtMaSach").val();
            $("#tableOrder").append("<tr><th >" + bookId + "</th><th>" + product + "</th><th><input class='form-control' type='text' value" + number + "></th><th>" + productPrice + "</th><th class=product>" + intoMoney + "<th><button type='button'  class='btn btn-dark'><i " + " class= 'far fa-trash-alt'></i></th></tr>");
            totalPrice();
        })
        //$("#deleteRow").click(function () {
        //    $("table tbody").find('input[name="record"]').each(function () {
        //        if ($(this).is(":checked")) {
        //            $(this).parents("tr").remove();
        //        }
        //    })
        //})
    });

    $(document).ready(function () {
        $(" .btn-danger ").on('click', function () {
            $('#tableOrder tbody tr:gt(0) ').remove();
        })
    });
    $(document).ready(function () {
        $("#tableOrder").on('click', '.btn-dark', function () {
            $(this).closest('tr').remove();
        })
    });
    var tong1 = 0;
    function totalPrice() {
        var deduct = $("#producctId").val();
        var number = $("#txtSoLuong").val();
        var productPrice = $("#txtDonGia").val();

        tong1 += number * productPrice;
        $("input[name=totalPrice]").val(tong1);
    }
    function include(arr, obj) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == obj)
                return i;
        }
    }
                    //$("input=[name=totalPrice]").on('change', uploadToTal);
                    //function()uploadToTal {
                    //    if -> tr maast
                    //        - thi gia tri tong se duoc tru di cai gia tri vau chon:))))
                    //    ?????
                    //}
                    //var array = [];
                    //var tong = 0;
                    //$(function () {
                    //    $("#tableOrder tbody tr th:nth-child(6) ").each(function ( ) {

                    //        }
                    //       // include(array);

                    //    })
                    //    console.log(array);
                    //})

                    //function include(arr) {
                    //    for (var i = 0; i < arr.length; i++) {
                    //        tong += arr[i];

                    //    }
        //}



</script>
